<section id="lang">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.lang.title }}{{ . | markdownify }}{{ end }}</h2>
      </div>
    </div>
    <div class="row lang">
        <ul class="lang1">
          <li>Albanian</li>
          <li>French</li>
          <li>Hmong</li>
          <li>Laotian</li>
          <li>Portuguese</li>
          <li>Tagalog</li>
          <li>Bengali</li>
          <li>Haitian</li>
          <li>Vietnamese</li>
          <li>Burmese</li>
          <li>Hebrew</li>
          <li>Khmer</li>
        </ul>

        <ul class="lang2">
          <li>Arabic</li>
          <li>German</li>
          <li>Italian</li>
          <li>Lithuanian</li>
          <li>Punjabi</li>
          <li>Thai</li>
          <li>Creole</li>
          <li>Karen</li>
          <li>Nepali</li>
          <li>Somali</li>
          <li>Cantonese</li>
          <li>Hindi</li>
        </ul>
        <ul class="lang3">
          <li>Armenian</li>
          <li>Greek	</li>
          <li>Japanese</li>
          <li>Malay</li>
          <li>Romanian</li>
          <li>Turkish</li>
          <li>Mandarin</li>
          <li>Russian</li>
          <li>Korean</li>
          <li>Polish</li>
          <li>Spanish</li>
          <li>American Sign Language</li>
        </ul>
    </div>
  </div>
</section>
